<div class="index-container">
    <p class="wel">Welcome to <span>Divuvila</span></p>
    <div class="welcome">
        
    </div>
    <div class="get-started">
        <a href="/signup">
            <button >Get Started</button>
        </a>
    </div>
    <div class="agencies-tit">Agencies</div>
    <div class="agencies">
        <div class="web"><p>Web</p></div>
        <div class="mobile"><p>Mobile</p></div>
        <div class="design"><p>Design</p></div>
        <div class="sale"><p>Sale</p></div>
        <div class="admin-sp"><p>Admin support</p></div>
        <div class="customer-sv"><p>Customer Service</p></div>
        <div class="data-sc"><p>Data Sciece</p></div>
        <div class="AI"><p>Artifical Intelligence</p></div>
    </div>
    <div class="see-all">
        See all categories
    </div>
    
    <div class="trust">
        <div class="tit">Trusted by 10M bussiness</div>
        <div class="child">1</div>
        <div class="child">1</div>
        <div class="child">1</div>
        <div class="child">1</div>
    </div>
    <div class="how-tit">
        How it work ? 
    </div>
    <div class="how">
        <div class="step1">Post a job</div>
        <div class="step2">Bids come to you</div>
        <div class="step3">Collaborate easily</div>
        <div class="step4">Payment simplified</div>

    </div>
    <div class="top-skill-tit">Top Skills</div>
    <div class="top-skill">
        <p class="skill">Android Dev</p>
        <p class="skill">Bookkeeper</p>
        <p class="skill">Content Writer</p>
        <p class="skill">Xamler</p>
        <p class="skill">Copywriter</p>
        <p class="skill">Customer Service</p>
        <p class="skill">Database </p>
        <p class="skill">Facebook </p>
        <p class="skill">Game Developer</p>
        <p class="skill">Logo Designer</p>
        <p class="skill">Logo Designer</p>
        <p class="skill">Java Developer</p>
        <p class="skill">UI Designer</p>
        <p class="skill">iOS Developer</p>
        <p class="skill">PHP Developer</p>
    </div>

</div>
