<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/container-index.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div id='search_res'>
    </div>
    <section id="Hero" class="PageHome-section HomeHero-section">
        <div class="HomeHero" data-uitest-target="homepage-banner">
            <div data-hero="slide" class="HomeHero-slide HeroSlider-slide HeroSlider-slide--01">
                <img src="https://www.f-cdn.com/assets/img/homepage/icons/companies/microsoft-e43ee696.svg" alt="photo">
                <div class="HeroSlider-slide-priceContainer PageHome-container Container">
                    <div data-desc="price" class="HeroSlider-price  HeroSlider-price--large">
                        <span class="HeroSlider-price-text">
                            This <strong>Website Design</strong> cost
                        </span>
                        
                    </div>
                </div>
            </div>
            <div class="PageHome-container Container HeroSlider-section-inner">
                <div class="HeroSlider-content-inner">
                    <h1 class="HeroSlider-heading HomeHero-slider-heading">Hire expert freelancers for any job, online
                    </h1>
                    <p class="HeroSlider-desc HomeHero-slider-desc">
                        Millions of small businesses use Freelancer to turn their ideas into reality.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section id="Companies" class="PageHome-container Container" data-uitest-target="homepage-companies">
        <div class="Companies">
            <div class="Companies-heading">
                As used by </div>
            <div class="Companies-lists">
                <div class="Companies-list">
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="Microsoft Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/microsoft-e43ee696.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="SAP Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/sap-9d4ebe0e.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="Metlife Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/metlife-adb7e6be.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="Intel Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/intel-7fe73541.svg" />
                    </div>
                </div>
                <div class="Companies-list">
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="Boeing Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/boeing-787917c9.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="Avery Dennison Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/avery-dennison-b06dbf8e.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="PWC Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/pwc-bad4f2a5.svg" />
                    </div>
                    <div class="Companies-list-item">
                        <img class="Companies-image" alt="GE Icon"
                            src="https://www.f-cdn.com/assets/img/homepage/icons/companies/ge-67030fc9.svg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="PageHome-divider" />

    <section class="NeedWorkDone PageHome-container Container SectionFeature"
        data-uitest-target="homepage-need-work-done" id="NeedWorkDone">
        <h2 class="NeedWorkDone-title">
            Need work done? </h2>
        <div class="NeedWorkDone-list">
            <div class="NeedWorkDone-list-item">
                <div class="NeedWorkDone-imageContainer">
                    <img alt="Post a Job Icon" class="NeedWorkDone-image"
                        src="https://www.f-cdn.com/assets/img/homepage/icons/need-work-done/post-a-job-eaf3f61f.svg" />
                </div>
                <h3 class="NeedWorkDone-heading">
                    Post a job </h3>
                <p class="NeedWorkDone-description">
                    It&#039;s easy.
                    Simply post a job you need completed and receive competitive bids
                    from freelancers within minutes. </p>
            </div>
            <div class="NeedWorkDone-list-item">
                <div class="NeedWorkDone-imageContainer">
                    <img alt="Choose Freelancers Icon" class="NeedWorkDone-image"
                        src="https://www.f-cdn.com/assets/img/homepage/icons/need-work-done/choose-freelancers-c7d9fb04.svg" />
                </div>
                <h3 class="NeedWorkDone-heading">
                    Choose freelancers </h3>
                <p class="NeedWorkDone-description">
                    Whatever your needs, there will be a freelancer to get it done:
                    from web design, mobile app development, virtual assistants,
                    product manufacturing, and graphic design (and a whole lot more). </p>
            </div>
            <div class="NeedWorkDone-list-item">
                <div class="NeedWorkDone-imageContainer">
                    <img alt="Pay Safely Icon" class="NeedWorkDone-image"
                        src="https://www.f-cdn.com/assets/img/homepage/icons/need-work-done/pay-safely-8f390ac2.svg" />
                </div>
                <h3 class="NeedWorkDone-heading">
                    Pay safely </h3>
                <p class="NeedWorkDone-description">
                    With secure payments and thousands of reviewed professionals to
                    choose from, Freelancer.com is the simplest and safest way to
                    get work done online. </p>
            </div>
        </div>
    </section>

    <div class="ProjectShowcase">
        <section class="Container SectionFeature" data-uitest-target="homepage-project-showcase" id="ProjectShowcase">
            <h2 class="PageHome-container ProjectShowcase-title">
                Crowd favorites </h2>
            <h2 class="PageHome-container ProjectShowcase-title ProjectShowcase-title--sub">
                Here are some of our most popular projects: </h2>

            <div class="ProjectShowcase-list">
                <div class="PageHome-container ProjectShowcase-list-wrapper">
                    <a class="ProjectShowcase-card Card" href="/post-project?skill_category=1&skill_subcategory=1"
                        data-qtsb-label="ProjectShowcase-WebsiteDevelopment" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                
                                <img class="ProjectShowcase-image" alt="Website Development Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/website-development-c6d8d791.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Website Development </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $300 USD </div>
                    </a>
                    <a class="ProjectShowcase-card Card" href="/post-project/?skill_category=4&skill_subcategory=79"
                        data-qtsb-label="ProjectShowcase-GraphicDesign" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                
                                <img class="ProjectShowcase-image" alt="Graphic Design Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/graphic-design-686eadbd.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Graphic Design </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $100 USD </div>
                    </a>
                    <a class="ProjectShowcase-card Card" href="/post-project/?skill_category=4&skill_subcategory=21"
                        data-qtsb-label="ProjectShowcase-LogoDesign" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                <div class="ProjectShowcase-buttonContainer">
                                    <div class="ProjectShowcase-button btn btn-plain-alt">
                                        Post a contest like this </div>
                                </div>
                                <img class="ProjectShowcase-image" alt="Logo Design Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/logo-design-412a8c64.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Logo Design </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $50 USD </div>
                    </a>
                    <a class="ProjectShowcase-card Card" href="/post-project/?skill_category=7&skill_subcategory=46"
                        data-qtsb-label="ProjectShowcase-Marketing" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                
                                <img class="ProjectShowcase-image" alt="Marketing Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/marketing-98b6075d.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Marketing </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $150 USD </div>
                    </a>
                    <a class="ProjectShowcase-card Card" href="/post-project/?repost_project_id=4045988"
                        data-qtsb-label="ProjectShowcase-Writing" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                
                                <img class="ProjectShowcase-image" alt="Writing Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/writing-d8782fdf.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Writing </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $50 USD </div>
                    </a>
                    <a class="ProjectShowcase-card Card" href="/post-project/?repost_project_id=3992787"
                        data-qtsb-label="ProjectShowcase-MobileApp" rel="nofollow">
                        <div class="ProjectShowcase-media">
                            <div class="ProjectShowcase-imageContainer">
                                
                                <img class="ProjectShowcase-image" alt="Mobile App Showcase"
                                    src="https://www.f-cdn.com/assets/img/homepage/showcase/mobile-app-6c06de77.png" />
                            </div>
                        </div>
                        <div class="ProjectShowcase-heading Card-header">
                            <h3 class="ProjectShowcase-heading-text">
                                Mobile App </h3>
                        </div>
                        <div class="ProjectShowcase-body Card-body">
                            From $50 USD / hour </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <section id="ApiUpsell" class="ApiUpsell PageHome-container Container SectionFeature"
        data-uitest-target="homepage-api-upsell">
        <div id="ApiUpsell-apiLink" class="ApiUpsell-card ApiUpsell-card--api Card" data-qtsb-label="ApiUpsell-ApiCard">
            <div class="ApiUpsell-card-media">
                <div>
                    <img class="ApiUpsell-image" alt="Website Development Showcase"
                        src="https://www.f-cdn.com/assets/img/api-upsell/HP_UPSELL_KEY_API-2db9dbaa.png" />
                </div>
            </div>
            <div class="ApiUpsell-card-inner">
                <div class="ApiUpsell-card-inner-text">
                    <p class="ApiUpsell-subtext">
                        FREELANCER API </p>
                    <h3 class="ApiUpsell-heading">
                        43 million professionals on demand </h3>
                    <p class="ApiUpsell-description">
                        Why hire people when you can simply integrate our talented cloud
                        workforce instead? </p>
                </div>
                <a href="https://developers.freelancer.com" class="ApiUpsell-button ApiUpsell-button--api btn btn-info"
                    data-qtsb-label="ApiUpsell-ApiButton">
                    View Documentation </a>
            </div>
        </div>
        <div id="ApiUpsell-enterpriseLink" class="ApiUpsell-card ApiUpsell-card--enterprise Card"
            data-qtsb-label="ApiUpsell-EnterpriseCard">
            <div class="ApiUpsell-card-media">
                <div>
                    <img class="ApiUpsell-image" alt="Website Development Showcase"
                        src="https://www.f-cdn.com/assets/img/api-upsell/HP_UPSELL_KEY_ENTERPRISE-ffe72af4.png" />
                </div>
            </div>
            <div class="ApiUpsell-card-inner">
                <div class="ApiUpsell-card-inner-text">
                    <p class="ApiUpsell-subtext">
                        FREELANCER ENTERPRISE </p>
                    <h3 class="ApiUpsell-heading">
                        Company budget? Get more done for less </h3>
                    <p class="ApiUpsell-description">
                        Use our workforce of 43 million to help
                        your business achieve more. </p>
                </div>
                <a href="/enterprise/" class="ApiUpsell-button ApiUpsell-button--enterprise btn btn-info"
                    data-qtsb-label="ApiUpsell-EnterpriseButton">
                    Contact Us </a>
            </div>
        </div>
    </section>
</body>