
<footer>
    <div class="footer-overlay"></div>
    <div class="footer">
        <div class="logo">Divuvila</div>
        <div class="about">About Us</div>
        <div class="address">Address</div>
        <div class="contact">Contact Us</div>
    </div>
    <div class="copy-right">&copy; 2020 Divuvila Team KLL</div>
</footer>

<script src="javascript/jquery-3.4.1.min.js"></script>
<script src="javascript/header.js"></script>
<script src="javascript/change-info.js"></script>
<script src="javascript/change-info-ajax.js"></script>
</body>
</html>