


<footer>
    <div class="footer-overlay"></div>
    <div class="footer">
        <div class="logo">Divuvila</div>
        <div class="about">About Us</div>
        <div class="address">Address</div>
        <div class="contact">Contact Us</div>
    </div>
    <div class="copy-right">&copy; 2020 Divuvila Team KLL</div>
</footer>

<script src="/javascript/jquery-3.4.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/javascript/simplepeer.min.js"></script>
<script src="/javascript/chat.js"></script>
<script src="/javascript/start-do-work.js"></script>
<script src="/javascript/header.js"></script>
<script src="/javascript/change-info.js"></script>
<script src="/javascript/change-info-ajax.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/add-to-favorite.js"></script>
<script src="/javascript/complete-job.js"></script>

<script src="/javascript/employee-chatbox.js"></script>
</body>
</html>