<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <div class="page-name">
                    Divuvila
                </div>

                <div class="search-div">
                    <a href="/search_work"><i class="fas fa-search " id="search-icon"></i></a>
                    <input class="search-input " type="text" placeholder="Search..">
                    <!--search-active-->

                </div>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav no-search">                  
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="#">Work</a></li>
                    <li class="nav-item"><a href="#">Careers</a></li>
                    <li class="nav-item"><a href="#">Contact Us</a></li>
                <li class="nav-item " id="username"> <% if(locals.user){%> <%=user.name%> <% } %> 
                    </li>

                </ul>
            </nav>
            
        </div>
        
    </div>
    <div class="user no-show">
        <a href="/profile/edit">Profilo</a>
        <a href="/logout">Log out</a>
    </div>
    <script src="javascript/jquery-3.4.1.min.js"></script>
    <script src="javascript/header.js"></script>
    <script src="javascript/search.js"></script>