<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/container-index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="/css/display-employee.css">
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <title>Divuvila</title>


</head>

<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar navbar-index">
                <div class="page-name">
                    <a href="/">Divuvila</a>
                </div>

                <div class="search-div no-search">
                    <input class="search-input" type="text" placeholder="Search A Job...">
                    <button id="btn-search">
                        <a href="#"><i class="fas fa-search " id="search-icon"></i> </a>
                    </button>
                    <!--search-active-->
                    
                </div>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav no-search">
                    <!--search/ no-search-->
                    

                    <li class="nav-item"><a href="/search">Search</a></li>
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/search">Work</a></li>
                    <li class="nav-item"><a href="/all-employee">Freelancer</a></li>
                    <li class="nav-item login"><a href="/login">Login</a></li>
                    <li class="nav-item signup"><a href="/signup">Sign up</a></li>
                </ul>
            </nav>
            
        </div>
        
    </div>
