<%- include('header-client')  %> 
<div>

  <div> You want to hire a job </div><br>
  
  <form method="POST" action='/project/hire_info'>

      <label>Name Job:</label>
      <input type="text" name='name_project' placeholder="Enter Name projet:"  ><br><br>

      <label>Price:</label>
      <input type="text" name='price' placeholder="Enter price:"  ><br><br>

      <label>Candidates:</label>
      <input type="text" name='candidates' placeholder="Enter candidate:"  ><br><br>

      <label>Requirements:</label>
      <input type="text" name='requirements' placeholder="Enter requirement:"  ><br><br>

      <input type="submit" value="post to newfeed">
  </form>

</div>

<%- include('footer')  %>