.employee-list, .employee-info{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
  }
.employee-filter{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
}
.form-group{
  display: inline;
}
 .filter1 > label,.filter2 > label,.filter3 > label{
   color:orangered;
   font-size: 20px;
 }

 .form-control, select{
  margin-top: 10px;
   height: 25px;
   width: 70px;
   border: solid 1px rgb(3, 156, 54);
   border-radius: 3px;
   
 }
 select{
   width:200px;
 }
 .employee-filter{
   text-align: center;
   padding: 15px 0px 40px 0px;
   
 }
 .btn-success{
   background-color:rgb(3, 156, 54);
   border-radius: 3px;
   height: 30px;
   width: 70px;
   color: honeydew;
 }
 .main-label{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
 }

 .user-avt{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: solid 1px;
   margin:10px;
 }
 hr{
  height:10px;
  box-shadow: inset 7px 11px 19px -9px rgb(231, 17, 17);
  border: none;
}

.employee-info{
  display: grid;
  margin-top: 0px;
  grid-template-columns: 1fr 7fr;
}
.info{
  list-style: none;
  margin:auto 30px;

}
@media (max-width: 720px){
  .employee-filter{
    display: block;
  }
  .employee-info{
    display: block;
  }
  .user-avt{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px;
    margin:10px;
  }
  .btn-success{
    margin-top: 5px;
  }
}