.fill-info-form {
    position: fixed;    
    top: 50px;
    left: calc(50% - 350px);
    background-color:  rgb(255, 255, 255);
    width: 700px;
    margin: auto;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    display: none;
    z-index: 0;
    border-radius: 5px;
    animation: zoom-form 0.5s ease-in;
}
.fill-info-form form{
    width: 500px;
    margin: auto;
    margin-top: 50px;

}
.fill-info-form .change-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
}

.fill-info-form .change-form input{
    border: none;
    border-bottom: 1px solid rgb(23, 122, 179) ;
    width: 100%;
    padding: 10px;
}
.fill-info-form .change-form input:focus{
    border-bottom: 2.5px solid rgb(36, 152, 219);
    transition: all 0.1s ease-in;
}
.fill-info-form .change-form .f{
    padding: 10px;
    color: rgb(104, 1, 104);
}
.fill-info-form form .submit{
    text-align: center;
    margin-top: 20px;
}
.submit1{
    text-align: center;
}
.fill-info-form input[type="submit"]{
    text-decoration: none;
    background-color: rgb(235, 96, 4);
    margin: auto;
    color: aliceblue;
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
}
.fill-info-form input[type="submit"]:hover{
    transform: translateY(-1px);
    background-color: rgb(238, 107, 20);
    cursor: pointer;
    transition: 0.03s
}
.fill-info-form .question{
    position: relative;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 15px 0px;
    font-size: 35px;
    color:rgb(23, 122, 179) ;

}
.fill-info-form .question .close{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    
    width: 30px;
    height: 30px;
}
.fill-info-form .question .close:active{
    transform: translateY(1px);
}
.fill-info-form .question .close .barr{
    display: block;
    z-index: 1;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.question .close .barr:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}
.question .close .barr:nth-child(2){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(2.3px) rotate(-45deg);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(145deg, rgb(133, 133, 133) 0%, rgba(0, 34, 109, 0.5) 0%, rgba(163, 163, 163, 0.838) 100%);
    background-size: cover;
    z-index: -2;
    opacity: 1;
}
@media(max-width:720px){
    
    .fill-info-form{
        top: 30px;
        left: calc(50% - 200px);
        width: 400px;
        font-size: small;
    }
    .fill-info-form .question{
        font-size: 20px;
    }
    .fill-info-form form{
        width: 300px;
    }
    .fill-info-form .change-form input{
        padding: 5px;
        font-size: small;
    }
    .fill-info-form .change-form .f{
        font-size: small;
        padding: 5px;
    }
    .fill-info-form input[type="submit"]{
        font-size: small;
        padding: 5px;
    }
}
@keyframes zoom-form{
    0%{
        transform: scale(0);        
    }

    100%{
        transform: scale(1);
    }

}


