* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}
body{
  background-color: rgb(245, 245, 245);
}
button:focus{
  outline: none;
}
li{
  text-align: center;
}
/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;

}

.nav-wrapper {
  width: 100%;
   /* Safari */

  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(150, 150, 150, 0.2), 0 3px 3px 0 rgba(175, 175, 175, 0.19);

}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* NAVIGATION */
.page-name a{
  font-size: 25px;
  padding-left: 20px;
  color: rgb(238, 107, 20);
}
.navbar {
  display: grid;
  grid-template-columns: 2fr 2fr 7fr;
  align-items: center;
  height: 50px;
}


.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-between;

}
.navbar-index ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-content: space-between;
}
.nav {
  margin-right: 10px;
}
.nav-item a {
  color: #000;
  font-size: medium;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}
#username{
  position: relative;
  font-size: medium;
}
#username p{
  font-size: medium;
  font-weight: bold;
}
#username .nav-dropdown{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  right: 8px;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: rgb(250, 119, 32);  
  border-radius: 4px;
  width: 160px;
}
#username .nav-dropdown li{
  padding:10px 30px;
}
#username .nav-dropdown li a{
  color: white;
}
#username .nav-dropdown li:hover{
  background-color: rgb(221, 221, 221);  
  transition: all 0.2s ease-in;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  
}
#username .nav-dropdown li a:hover{
  color: #3498db;
}

#username:hover{
  cursor: pointer;
  color: rgb(238, 107, 20);
}


/* SEARCH FUNCTION */
.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}
.search-div {
  display: flex;
  flex-direction: row;
}
#search-icon {
  font-size: 0.9rem;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 10px;
  transition: color 0.3s ease-out;
  z-index: 1;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  
  /* MOBILE HEADINGS */
  label{
    font-size: 1rem;
  }
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    z-index: 1;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }

  #username .nav-dropdown{
    position: absolute;
    right:15;
    height: fit-content;
    margin: 0px;

  }
  
  #username .nav-dropdown li:first-child{
    margin-top: 0px;
  }

  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
  
}
.page-wrapper p:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

#receive-sc-share{
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
}