*{
    font-family: 'Nunito', sans-serif;
    font-size: large;
}

h1{
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image:linear-gradient(145deg, rgba(93,90,145,1) 0%, rgba(180, 91, 35, 0.5) 0%, rgba(223,217,173,0.8384395994726015) 100%),url("../images/mesh-1430108.png");
    
    background-size: cover;
    z-index: -1;
    opacity: 1;

}
.form{
    border: solid 1px;
    width: 400px;
    height: auto;
    margin: auto auto;
    z-index: 1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}
.signup{
    height: auto;
}
.form h2{
    text-align: center;
    margin-top: 70px;
    font-size: 35px;
    color:rgb(23, 122, 179) ;
}

.login input[type="text"], .login input[type="password"], .login input[type="email"]{
    padding-left: 10px;
    width: 65%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid rgb(23, 122, 179) ;
}
.login input[type="text"]:focus, .login input[type="password"]:focus, .login input[type="email"]:focus{
    border-bottom: 2.5px solid rgb(36, 152, 219);
    transition: 0.03s;
}
.login input:focus{
    outline: none;
   
}
.login input[type="submit"]{
    border-radius:15px;
    border: none;
    background-color:rgb(233, 128, 0);
    color: white;
    padding: 5px;
    width: 75px;
    display: block;    
    margin: auto auto;
    margin-top: 30px;
}

.login input[type="submit"]:hover{
    transform: translateY(-1px);
    background-color: rgb(255, 143, 6);
    cursor: pointer;
    transition: 0.03s;
}
.login input[type="submit"]:active{
    transform: translateY(1px);
    transition: 0.01s;
}
.input{
    margin-bottom: 30px;
}
.other{
    width: 100%;
}
a{
    text-decoration: none;
    margin: 3px;
    color: blueviolet;
}
.login-option a{
    font-size: 15px;
}
.alert{
    font-size: 15px;
    color: red;
}

.choose-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.choose-type input{
    display: none;
}
.choose-type label{
    background-color: rgb(248, 225, 195);
    width: 80%;
    margin: auto;
    padding: 7px;
    
}

.choose-type > #client:checked ~ .label-client{
    background-color:  rgb(255, 149, 19);
}
.choose-type > #client:not(:checked) ~ .label-client{
    background-color: rgb(248, 225, 195) ;
}
.choose-type > #freelancer:checked ~ .label-freelancer{
    background-color:  rgb(255, 149, 19);
}
.choose-type > #freelancer:not(:checked) ~ .label-freelancer{
    background-color: rgb(248, 225, 195) ;
}
.choose-type label:hover{
    cursor: pointer;
    transform: translateY(-1px);
    transition: 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2), 0 6px 20px 0 rgba(185, 185, 185, 0.19);
}



