
#filter_res{

 
  display: none;

}
.sent-proposal{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-search{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-search .search_div{
  
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  padding: 0 4%;

}
.container-search .search_div input{
  border: 1.5px solid gray;
  border-right: none;
  width: 100%;
  height: 40px;
}
.container-search .search_div button{
  border: none;
  background-color: rgb(238, 110, 27);
  color: white;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px;
  height: 40px;
}

.job_each div{
  padding: 10px;
  font-size: 14px;
  background-color: white
}
.job_name{
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  position: relative;
  grid-area: name;
}
.job_name button{
  position: absolute;
  right: 10px;
  top : 5px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(87, 87, 87, 0.2), 0 2px 10px 0 rgba(114, 114, 114, 0.19);
  width: 30px;
  height: 30px;
  background-color: rgb(238, 110, 27);
  color: white;
}
.job_name a{
  text-decoration: none;
  color: green;
  font-size: 18px;
}
.job_require{
  
  grid-area: a;
  border-radius: 2px;
}
.job_require label{
  background-color: #4e507b;
  padding: 2px 6px;
  margin: 0px 5px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}
.job_descrip{
  grid-area: b;
}
.xxxx{
  grid-area: c;
}
.xxxx i{
  color: #0a8fb2;
}
.proposal-content{
  grid-area: p;
}
.final-price{
  grid-area: f;
}
.final-price input[type="submit"]{
  background-color: rgb(239, 103, 14);
  border: none;
  border-radius: 2px;
  padding: 3px 6px;
  color: white;
  cursor: pointer;
}

.desire-cost{
  grid-area: de;
}
.done{
  grid-area: done;
  position: relative;
}
.done button{
  background-color: rgb(239, 103, 14);
  border: none;
  border-radius: 2px;
  padding: 3px 6px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0px;
}

.job_each{
  
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 rgba(87, 87, 87, 0.2), 0 2px 10px 0 rgba(114, 114, 114, 0.19);
  border-radius: 2px;
  display: grid;
  grid-template-areas:
   "name name name name"
   "c b b b"
   "a a a a"
   "p p p p"
   "de de de de"
   "f f f f"
   "done done done done";
  grid-template-columns: 1fr 1fr 1fr;
}
.job_descrip_head{
  background-color: rgba(207, 179, 18, 0.555);
  border-radius: 2px;
  padding: 2px 5px !important; 
  width: fit-content;
}

.filter_res{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.filter_res select{
border: 1.3px solid gray;
width: 100px;
height: 30px;
}
.filter-btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.filter-btn button{
  width: 99%;
  margin: auto;
  background-color: #4e507b;
  padding: 4px 0px;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.filter-btn button:nth-child(1){
  background-color: #67abd8f5;
}
.screen-share{
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
}

